In [22]:
import pandas as pd
import numpy as np

In [23]:
orig_df = pd.read_csv("ratings.csv")
orig_df.head()

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

   userId  movieId  rating         Ts
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [24]:
idx = orig_df.groupby('userId').apply(lambda x: x.sample(frac=0.8, random_state = 0)).index.get_level_values(1)

train = orig_df.iloc[idx, :].reset_index(drop = True)
test = orig_df.drop(idx).reset_index(drop = True)

In [25]:
train.to_csv('train.csv')

In [26]:
test.to_csv('test.csv')